@model PokedexProject.Models.Route.RouteListCreate

@{
    ViewBag.Title = "AddRoute";
}

<h2>AddRouteToItem</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>RouteListCreate</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.HiddenFor(model => model.ItemId, htmlAttributes: new { @class = "control-label col-md-2" })
    </div>
 
    <div class="form-group">
        @Html.LabelFor(model => model.RouteId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("RouteId", new SelectList(ViewBag.RouteList, "RouteId", "RouteName"));
            @Html.ValidationMessageFor(model => model.RouteName, "", new { @class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
