@model IEnumerable<PokedexProject.Models.Choice.ChoiceListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChoiceText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChoiceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChoiceText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ChoiceId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ChoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ChoiceId })
        </td>
    </tr>
}

</table>
