@model IEnumerable<PokedexProject.Models.RouteListItem>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RouteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
    
            <td>
                @if (item.OwnerId.ToString() == User.Identity.GetUserId())
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.RouteId });
                    @Html.ActionLink("Details", "Details", new { id = item.RouteId });
                    @Html.ActionLink("Delete", "Delete", new { id = item.RouteId }) ;
                    @Html.ActionLink("Add Pokemon To Route", "AddPokemon", new { id = item.RouteId });
                    @Html.ActionLink("Add Item to Route", "AddItem", new { Id = item.RouteId });
                }
                else
                {
                    @Html.ActionLink("View Challenges", "ViewChallenge", new { id = item.RouteId })
                }

            </td>  
        </tr>
    }
</table>
