@model IEnumerable<PokedexProject.Models.Route.RouteChallenge>

@{
    ViewBag.Title = "ViewChallenge";
}

<h2>ViewChallenge</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChallengeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChallengeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChallengeName)
        </td>
        <td>
            @Html.ActionLink("Go to challenge", "RouteChallenge", new { id = item.ChallengeId }) |
        </td>
    </tr>
}

</table>
