@model PokedexProject.Models.TrainerDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainerDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
