@model IEnumerable<PokedexProject.Models.TrainerListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileCreated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.OwnerId) </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainerId })
        </td>
    </tr>
}

</table>
